<!-- content inside chatroom container -->
<li>
  <span class='chat-img pull-left'>
<%= link_to controller: :users, action: :show, id: message.user.id do %>
    <%= image_tag message.user.image, :class =>"chat-img" %>
  <% end %>
  </span>
  <div class="chat-body clearfix">
    <div class="header">
      <strong><%=message.user.name%>:</strong>
    </div>
      <p>
        <%=message.content%>
      </p>
  </div>
</li>
