<!-- content inside chatroom container -->
<li>
  <span class='chat-img pull-left'>
    <img src="<%= message.user.image %>" class='chat-img'>
  </span>
  <div class="chat-body clearfix">
    <div class="header">
      <strong><%=message.user.name%>:</strong>
    </div>
      <p>
        <%=message.content%>
      </p>
  </div>
</li>
