<div id="comments">
  <% @comments.each do |comment| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <div class="thumbnail">
            <img class="img-circle" src="<%= comment.user.image %>">
          </div><!-- /avatar -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><%= comment.user.name %></strong> <span class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</span>
            </div>
            <div class="panel-body">
              <%= simple_format comment.content %>
            </div><!-- /panel-body -->
          </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
      </div><!-- /row -->
    </div><!-- /container -->
  <% end %>
</div>