<%= form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger">
      <strong>Please correct the following errors.</strong>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="panel-div">
          <div class="panel-body">
            <form accept-charset="UTF-8" action="" method="POST">
              <%= f.text_area :content, rows: 4, :class=>"form-control counted", :placeholder=>"Type your comment here...", :style=>"margin-bottom:10px;" %>
              <h6 class="pull-right" id="counter">140 characters remaining</h6>
              <%= f.submit :class=>"btn btn-info", :value=>"Post Comment" %>
            </form>
          </div><!-- /panel-body -->
        </div><!-- /panel-div -->
      </div><!-- /col-sm-12 col-md-12 -->
    </div><!-- /row -->

<% end %>
