<!-- message content that appears when user conversation tab is selected -->
<ul class="chat-log clearfix">
  <div class="panel panel-default">
    <% if chatroom.messages.any? %>
      <div class="panel-body" id="messages">
      <ul class="chat" data-chatroom="<%= chatroom.id%>">
        <%= render partial: 'messages/message', collection: chatroom.messages%>
      </ul>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>
  <%= render partial: 'messages/message_form', locals: {message: message, chatroom: chatroom}%>
</ul>
