<!-- current_user = logged in user -->
<% if current_user != @user %>
<%= form_for :rating, url: "/users/#{@user.id}/ratings", method: 'POST' do |form| %>
  <div class="form-group">
    <%= form.label :rating %>
    <%= form.select :rating,[[1], [2], [3], [4], [5], [6], [7], [8], [9], [10]], class: 'form-control' %>
  </div>
  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
<% end %>