<div class="profile-container">
  <div class="profile-header">
    <div class="profile-content">
      <div class="profile-user">
        <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
          <div class="avatar">
              <%= image_tag @user.image, :class =>"img img-circle"%>
          </div>
          <div class="name">
              <h4><%= @user.name %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'content' %>
</div>

