<h1> What is freegan/freeganism? </h1>
<p> A freegan is a person who rejects consumerism and seeks to help the environment by reducing food waste. </p>
<h1> Can anyone be a freegan? </h1>
<p> Do you like decreasing food waste? Do you like the environment? Do you feel guilty throwing away leftovers?</p>
<p> If you answered yes to the previous questions, than yes, YOU could be a freegan! It's that easy. </p>
<h2> How can I get started in this movement? </h2>
<p> I'm glad you asked! Simply create an account and share any extra food you have with others!</p>
<p> Did you have a bountiful harvest this year that you couldn't possible eat by yourself? SHARE! </p>
<p> Did you cook too much for dinner and you don't want it to go to waste? SHARE </p>
<p> Do you have an apple tree that is ripe and ready to be picked? SHARE </p>

