<!-- welcome home page -->

<div id="welcome-page">
  <div class="container welcome-div">
    <div class="row">
      <img id="brand-logo" src="/images/lettuce-logo.png" alt="radish">
      <h1>Our mission is simple, turn food waste into a community resource. </h1>
    </div>
  </div>
</div>