<!-- post.user can mark a post as unavailable -->
<% if current_user.id == post.user_id %>
  <%= form_for post do |f| %>
    <div id="taken-box" class="field">
      <%= f.label :unavailable %>
      <%= f.check_box :taken, id: "taken-submit", :onclick => "this.form.submit()" %>
    </div>
  <% end %>
<% end %>



