<%= form_for post do |f| %>
  <div class="field">
    <%= f.label :taken %>
    <%= f.check_box :taken %>
  </div>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% if post.taken == true %>
<h1> Unavailable </h1>
<% end %>

