
<% if current_user.id == post.user_id %>
<%= form_for post do |f| %>
  <div id="taken-box" class="field">
    <%= f.label :taken %>
    <%= f.check_box :taken %>
  </div>
   <div id="taken-submit" class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>


