<p id="notice"><%= notice %></p>

<%= render 'form', post: @post %>

<h1>Posts</h1>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Posts</a></li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Order by<span class="caret"></span></a>
  <ul class="dropdown-menu">
      <li>Acending</li>
      <li>Decending</li>
      <li> Show All </li>
  </ul>
</li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <%= render 'post' %>
    </div>
  </div>
</div>


