<div class="profile-container">
  <div id="post-header" class="profile-header">
    <div class="map-container col-sm-12 col-md-12 text-center post-map">
        <%= map_for_object @post %>
    </div>
  </div>
<br>
<%= render 'content' %>
</div>




