<div class="profile-container">
  <div id="post-header" class="profile-header">
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
      <div class="map-container">
        <%= map_for_object @post %>
      </div>
    </div>
  </div>
<br>
<%= render 'content' %>
</div>




