.form-overlay {
    padding-top: 50px;
}

.form-section {
    background-size: cover;
    width: 100%;
    display: block;
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
}

.panel {
    margin-bottom: 0px;
}

.panel-body {
    padding: 0px 15px;
}

.testBox {
    margin-bottom: 10px;
}

.expire-notice {
    padding-left: 10px;
}

.forgot {
    margin-top: 1px;
}

.log-btn {
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.remember-me {
    vertical-align: middle;
    padding-left: 10px;
}

.remember-me>label {
    margin-bottom: 0px;
}

.newhere {
    margin-top: 5px;
}