.form-overlay {
  padding-top: 50px;
}

.panel {
  margin-bottom: 0px;
}

.panel-body {
  padding: 0px 15px;
}

.testBox {
  margin-bottom: 10px;
}

.expire-notice {
  padding-left: 10px;
}

.forgot {
  float:right;
}

.log-btn {
  text-align: center;
}
.login-container {
  display: flex;
}

.login-container>div {
  flex: 1;
}

.remember-me {
  vertical-align: middle;
  padding-left: 10px;
}

.password-forgot {
  padding-top: 10px;
}