.form-overlay {
  padding-top: 50px;
}

.panel {
  margin-bottom: 0px;
}

.panel-body {
  padding: 0px 15px;
}

.testBox {
  margin-bottom: 10px;
}

.expire-notice {
  padding-left: 10px;
}

.forgot {

}

.log-btn {
  text-align: center;
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.remember-me {
  vertical-align: middle;
  padding-left: 10px;
}

.remember-me > label {
  margin-bottom: 0px;
}

.forgot-password {
  margin-top: 1px;
}

.newhere {
  margin-top: 5px;
}
