.form-overlay {
  padding-top: 50px;
}

.food-btn {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.panel {
  margin-bottom: 0px;
}

.panel-body {
  padding: 0px 15px;
}

.testBox {
  margin-bottom: 10px;
}

.expire-notice {
  padding-left: 10px;
}

.forgot {
  float:right;
}

.log-btn {
  text-align: center;
}

.a:visited {
  color: red;
}