
#navbar-header {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  font-weight: bolder;
  color: #673c3c;
  padding: 10px;
}

.navbar-fixed-top {
  background-color: #af7c7c;
  padding: 20px;
  z-index: 100%;
}

.navbar-right {
  float: right;
}

#navbarText {
  font-size: 20px;
  display: inline-block;
  color: grey;
}

.img-circle {
    border-radius: 50%;
}