// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#notification:before {
    position: relative;
    top: -1em;
    right: 0.5em;
    width: 1em;
    height: 1em;

    line-height: 1em;
    text-align: center;

    ont-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    color: #B92727;
    background-color: #B92727;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .15);

    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 35),
    0px 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .35),
    0px 1px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .35),
    0px 1px 1px rgba(0, 0, 0, .2);

    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    content: ' \25CF';
}