// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-image {
  float: left;
  width: 10em;
  height: 10em;
}
