.rating-stars {
    color: yellow;
}

.user-rating {
     width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
    position: relative;
    text-align: center;
}

.notice {
    width: 300px;
}

.form-group {
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
}

.avatar {
    margin-top: 160px;
    padding: 15px;
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
}

#post-header {
    background-image: url("/images/wood.png");
}
.profile-header {
    background-image: url("/images/plate-rotated.png");
    background-size: cover;
    width: 100%;
    display: block;
    height: 450px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.name {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}

.profile-user-posts{
    display: block;
    left: 0;
    position: relative;
    top: 200px;
    width: 100%;
}

.img-default {
    height: 100px;
    width: 100px;
}
