#register-overlay {
  padding-top: 100px;
}

.reg-row {
  padding-top: 10px;
  padding-bottom: 20px;
}

.reg-email {
  margin-left: 15px;
  margin-bottom: 10px;
}

.sign-up-btn {
  margin-bottom: 20px;
}