body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

p,
ol,
ul,
td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;

    &:visited {
        color: #white;
    }

    &:hover {
        color: #fff;
    }
}

th {
    padding-bottom: 5px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

div {
    &.field,
    &.actions {
        margin-bottom: 10px;
    }
}

#notice {
    color: green;
    text-align: center;
    margin: 0 auto 15px;
}

#alert {
    color: red;
    text-align: center;
    margin: 0 auto 15px;
}


#error_explanation {
    width: 450px;
    padding: 7px;
    padding-bottom: 0px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 6px;
    color: red;

    h2 {
        text-align: left;
        font-weight: bold;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0;
        color: #fff;
        border-radius: 4px 4px 0 0;
    }

    ul li {
        font-size: 12px;
        list-style: square;
    }
}

label {
    display: block;
}