// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#welcome-page {
  position: relative;
  background-image: url("/images/radish.png");
  background-size: cover;
  width: 100%;
}

